x-menu
  width inherit
  height inherit
  position absolute
  top 0
  left 0
  background #333
  z-index 1
  display none
  flex-direction column
  justify-content space-between
  align-items stretch
  overflow-y auto

x-menu input[type="button"]
  background #555
  color elementColor
  font-family Arial, Helvetica, sans-serif
  font-size ((elementSize - elementMargin) / 2)
  font-weight bold
  font-style normal
  border none
  margin (elementMargin / 2)
  padding (elementMargin / 2) (elementMargin * 2)
  min-height (elementSize / 2) + elementMargin
  height 100%
  display block
