elementMargin = 4px
elementColor = #eee

x-menu
  width inherit
  height inherit
  display block
  position absolute
  background #000
  z-index 1
  visibility hidden

x-menu input[type="button"]
  background elementColor
  color #111
  border none
  margin elementMargin
  padding (elementMargin / 2) (elementMargin * 2)
  display block
