elementSize = 30px
elementMargin = 4px

x-video
  object-fit contain

x-video .media-controls
  width inherit
  height inherit
  position relative
  direction ltr
  display flex
  flex-direction column
  justify-content flex-end
  align-items center

x-video .media-controls:-webkit-full-screen
  width 100%
  height 100%

x-video .media-controls video
  width inherit
  height inherit
  top 0

x-video .media-controls-enclosure
  width 100%
  max-width 800px
  flex-shrink 0
  bottom 0
  text-indent 0
  box-sizing border-box
  -moz-box-sizing border-box
  position absolute
  left 0
  padding 0 elementMargin elementMargin
  height (elementSize + elementMargin)

x-video .media-controls-panel
  display flex
  flex-direction row
  align-items center
  justify-content flex-start
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  position relative
  width 100%
  z-index 0
  overflow hidden
  text-align right
  bottom auto
  height elementSize
  background-color rgba(20, 20, 20, 0.8)
  border-radius 5px

x-video .media-controls-play-button
  /*-webkit-appearance media-play-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin-left elementMargin
  margin-right elementMargin
  padding 0
  background-color initial
  color inherit
  background embedurl('svg/play.svg')
  background-size elementSize

x-video .media-controls-rewind-button
  /*-webkit-appearance media-rewind-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin-left elementMargin
  margin-right elementMargin
  padding 0
  background-color initial
  color inherit
  background embedurl('svg/rewind.svg')
  background-size elementSize

x-video .media-controls-forward-button
  /*-webkit-appearance media-forward-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin-left elementMargin
  margin-right elementMargin
  padding 0
  background-color initial
  color inherit
  background embedurl('svg/forward.svg')
  background-size elementSize

x-video .media-controls-play-button.paused
  background embedurl('svg/pause.svg')
  background-size elementSize

x-video .media-controls-timeline
  /*-webkit-appearance media-slider*/
  display flex
  flex 1 1 auto
  height 8px
  margin 0 elementMargin * 2 0 0
  padding 0
  background-color rgba(0, 0, 0, 0)
  min-width 25px
  border initial
  color inherit

x-video .media-controls-current-time-display, x-video .media-controls-time-remaining-display
  /*-webkit-appearance media-current-time-display*/
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  flex 0 0 auto
  display flex
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  cursor default
  height elementSize
  margin 0 elementMargin 0 0
  padding 0
  line-height elementSize
  font-family Arial, Helvetica, sans-serif
  font-size ((elementSize - elementMargin) / 2)
  font-weight bold
  font-style normal
  color #FFF
  letter-spacing normal
  word-spacing normal
  text-transform none
  text-indent 0
  text-shadow none
  text-decoration none

x-video .media-controls-mute-button
  /*-webkit-appearance media-mute-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin 0 elementMargin 0 0
  padding 0
  background-color initial
  color inherit
  background embedurl('svg/audio.svg')
  background-size elementSize

x-video .media-controls-mute-button.muted
  background embedurl('svg/audio-muted.svg')
  background-size elementSize

x-video .media-controls-volume-slider
  /*-webkit-appearance media-volume-slider*/
  display flex
  flex 1 1.899999976158142 auto
  height 8px
  max-width 70px
  margin 0 elementMargin * 2 0 0
  padding 0
  background-color rgba(0, 0, 0, 0)
  min-width 15px
  border initial
  color inherit

x-video .media-controls-toggle-closed-captions-button
  /*-webkit-appearance media-toggle-closed-captions-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin-left - (elementMargin / 2)
  margin-right elementMargin
  padding 0
  background-color initial
  color inherit

x-video .media-controls-fullscreen-button
  /*-webkit-appearance media-enter-fullscreen-button*/
  display flex
  flex 0 0 auto
  border none
  border-image-source initial
  border-image-slice initial
  border-image-width initial
  border-image-outset initial
  border-image-repeat initial
  box-sizing border-box
  -moz-box-sizing border-box
  width elementSize
  height elementSize
  line-height elementSize
  margin-left - (elementMargin / 2)
  margin-right elementMargin
  padding 0
  background-color initial
  color inherit
  background embedurl('svg/fullscreen.svg')
  background-size elementSize
